@helper ActiveItem(string actionName, string controllerName, string areaName)
{
if (ViewContext.RouteData.Values["action"].ToString() == actionName &&
ViewContext.RouteData.Values["controller"].ToString() == controllerName &&
(ViewContext.RouteData.DataTokens["area"] == null || ViewContext.RouteData.DataTokens["area"].ToString() == areaName))
{
@:active
}
}
 
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">Sandbox</a>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li>@Html.ActionLink(" Home", "Index", "Home", null, new {@class = "glyphicon glyphicon-home" })</li>
<li>@Html.ActionLink(" About", "About", "Home", null, new {@class = "glyphicon glyphicon-info-sign" })</li>
<li>@Html.ActionLink(" Customers", "Index", "Customer", null, new {@class = "glyphicon glyphicon-user" })</li>
<li>@Html.ActionLink(" Contact", "Contact", "Home", null, new {@class = "glyphicon glyphicon-phone-alt" })</li>
</ul>
</div>
</div>
</div> 